/** 
Autor: Ana Camila Nambo Delhumeau 
Programa: index.html 
Fecha: 05/02/2025 
Lenguaje: html 
**/
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #a02323;
  margin: 0;
}
nav {
  background: #011107;
  padding: 10px;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.carousel {
  overflow: hidden;
  width: 80%;
  max-width: 800px;
  position: relative;
  margin: 20px auto;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel-images img {
  width: 100%;
  display: block;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
